.EmptyCart_emptyCart__p2j2c {
    text-align:center
}

.EmptyCart_emptyCart__p2j2c img {
    width: 100%;
    max-width: 250px;
    margin:42px auto 16px
}

.EmptyCart_emptyCart__p2j2c h2 {
    color: #999;
    font-size:18px
}

.Header_header__Z8PUO {
    background: #fff;
    padding: 30px 32px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .033);
    width:100%
}

.Header_header__Z8PUO .Header_container__7nNih {
    display: flex;
    display: -webkit-flex;
    max-width: 960px;
    margin: 0 auto;
    padding:0 32px
}

@media (max-width: 991px) {
    .Header_header__Z8PUO {
        padding:16px
    }

    .Header_header__Z8PUO .Header_container__7nNih {
        padding:0
    }
}

@media (max-width: 480px) {
    .Header_header__Z8PUO {
        padding:8px 12px
    }
}

@-webkit-keyframes Header_slideUp__46Tob {
    0% {
        transform: translateY(30px);
        opacity:.5
    }

    to {
        transform: translateY(0);
        opacity:1
    }
}

@keyframes Header_slideUp__46Tob {
    0% {
        transform: translateY(30px);
        opacity:.5
    }

    to {
        transform: translateY(0);
        opacity:1
    }
}

.Header_brand__vpGcL {
    height: 100%;
    text-align:center
}

@media (max-width: 480px) {
    .Header_brand__vpGcL {
        margin-left:8px
    }
}

.Header_brand__vpGcL .Header_logo__gECVj {
    width:123px
}

@media (max-width: 480px) {
    .Header_brand__vpGcL .Header_logo__gECVj {
        width: 102px;
        margin:2px 0
    }
}

.Header_search__esM9R {
    margin-left: 64px;
    flex-grow: 1;
    -webkit-flex-grow:1
}

@media (max-width: 767px) {
    .Header_search__esM9R {
        margin-left:32px
    }
}

@media (max-width: 480px) {
    .Header_search__esM9R {
        flex-grow: 0;
        -webkit-flex-grow: initial;
        margin-left:auto
    }
}

.Header_searchForm___PDf8 {
    display: flex;
    display:-webkit-flex
}

@media (max-width: 480px) {
    .Header_searchForm___PDf8 {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 8px;
        background: #fff;
        z-index:100
    }

    .Header_searchForm___PDf8.Header_active__lKnmL {
        display: flex;
        display:-webkit-flex
    }
}

.Header_searchForm___PDf8 .Header_searchKeyword__Z14K6 {
    -webkit-appearance: none;
    height: 36px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #10c64b;
    padding: 0 16px;
    border-radius: 1px 0 0 1px;
    width: 100%;
    max-width:330px
}

.Header_searchForm___PDf8 .Header_searchKeyword__Z14K6:focus {
    outline:none
}

@media (max-width: 480px) {
    .Header_searchForm___PDf8 .Header_searchKeyword__Z14K6 {
        height: 32px;
        margin:2px 0
    }
}

.Header_searchForm___PDf8 .Header_searchButton__sRcP7 {
    height: 36px;
    border-radius: 0 2px 2px 0;
    border: 0;
    cursor: pointer;
    background: #10c64b url(https://res.cloudinary.com/sivadass/image/upload/v1494692031/icons/search.png) 50% no-repeat;
    width:96px
}

@media (max-width: 480px) {
    .Header_searchForm___PDf8 .Header_searchButton__sRcP7 {
        height: 32px;
        margin:2px 0
    }
}

@media (min-width: 481px) {
    .Header_backButton__WVtwM, .Header_mobileSearch__wcody {
        display:none
    }
}

@media (max-width: 480px) {
    .Header_mobileSearch__wcody {
        display: block;
        height: 36px;
        width:36px
    }

    .Header_backButton__WVtwM {
        display: block;
        margin-right:8px
    }
}

.Header_cart__AV1Yf {
    display: flex;
    display: -webkit-flex;
    margin-left: 64px;
    position: relative;
    z-index:99
}

@media (max-width: 991px) {
    .Header_cart__AV1Yf {
        margin-left:16px
    }

    .Header_cartInfo__J_4Ct {
        display:none
    }
}

.Header_cartInfo__J_4Ct table {
    font-size: 14px;
    color: #10c64b;
    text-align:right
}

.Header_cartInfo__J_4Ct table tr {
    padding: 0;
    margin:0
}

.Header_cartInfo__J_4Ct table td {
    padding: 0 4px;
    line-height:16px
}

.Header_cartIcon__cW68U {
    padding: 0;
    margin: 0 0 0 16px;
    z-index: 99;
    position: relative;
    border: none;
    cursor: pointer;
    background: none;
    font-size:16px
}

@media (max-width: 991px) {
    .Header_cartIcon__cW68U {
        margin:0 8px 0 16px
    }
}

@media (min-width: 992px) {
    .Header_cartCount__MN2dI {
        display:none
    }
}

@media (max-width: 991px) {
    .Header_cartCount__MN2dI {
        display: block;
        position: absolute;
        background: #fc7710;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        width: 24px;
        border-radius: 50%;
        top: -6px;
        right:-9px
    }
}

.Header_cartPreview__GpDgT {
    background: #fff;
    border:1px solid #ccc
}

.Header_cartPreview__GpDgT:before {
    top: -9px;
    right: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom:8px solid #ccc
}

.Header_cartPreview__GpDgT:after, .Header_cartPreview__GpDgT:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    z-index:1
}

.Header_cartPreview__GpDgT:after {
    top: -7px;
    right: 9px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom:7px solid #fff
}

.Header_cartPreview__GpDgT.Header_active__lKnmL {
    z-index: 99;
    display: block;
    position: absolute;
    top: 48px;
    right: 0;
    width: 360px;
    height: 420px;
    box-shadow:0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)
}

@media (max-width: 400px) {
    .Header_cartPreview__GpDgT.Header_active__lKnmL {
        top: 45px;
        width: 100%;
        min-width:300px
    }

    .Header_cartPreview__GpDgT.Header_active__lKnmL > div {
        width:100% !important
    }

    .Header_cartPreview__GpDgT.Header_active__lKnmL .Header_cartItems__R_h2f {
        width:100%
    }

    .Header_cartPreview__GpDgT.Header_active__lKnmL .Header_stepper-input__LUIM9 a {
        display:none
    }
}

.Header_actionBlock__6PMdo {
    background: #fff;
    position: absolute;
    bottom: 0;
    padding: 16px;
    width:100%
}

.Header_actionBlock__6PMdo button {
    height: 36px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    background: #10c64b;
    border: 0;
    font-weight: 400;
    padding: 0 16px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    background: #fc7710;
    display: block;
    width:100%
}

.Header_actionBlock__6PMdo button:hover {
    background:#1ced60
}

.Header_actionBlock__6PMdo button:focus {
    outline:none
}

.Header_actionBlock__6PMdo button:active {
    background:#34ef70
}

.Header_actionBlock__6PMdo button.Header_disabled__Osnqq {
    opacity: .3;
    cursor:not-allowed
}

.Header_cartItems__R_h2f {
    height: 320px;
    width:360px
}

.Header_cartItem__V4IhE {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding:8px
}

.Header_cartItem__V4IhE .Header_productImage__mcZIf {
    width: 48px;
    height:48px
}

.Header_cartItem__V4IhE .Header_productInfo__eI23x {
    margin-left: 16px;
    flex-grow:1
}

.Header_cartItem__V4IhE .Header_productInfo__eI23x .Header_productName__ntk7t {
    color: #999;
    font-size:14px
}

.Header_cartItem__V4IhE .Header_productInfo__eI23x .Header_productPrice__6XZ50 {
    color: #999;
    font-weight:700
}

.Header_cartItem__V4IhE .Header_productInfo__eI23x .Header_productPrice__6XZ50:before {
    content: "₹ "
}

.Header_cartItem__V4IhE .Header_productTotal__al2KG {
    margin-left:16px
}

.Header_cartItem__V4IhE .Header_productTotal__al2KG .Header_quantity__m36i9 {
    color: #999;
    font-size: 14px;
    text-align:right
}

.Header_cartItem__V4IhE .Header_productTotal__al2KG .Header_amount__zo7wh {
    color: #333;
    font-weight: 700;
    text-align:right
}

.Header_cartItem__V4IhE .Header_productTotal__al2KG .Header_amount__zo7wh:before {
    content: "₹ "
}

.Header_cartItem__V4IhE .Header_productRemove__upsNn {
    border: none;
    cursor: pointer;
    margin-left: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-size: 22px;
    color: #ccc;
    text-align: center;
    background:none
}

.Header_cartItem__V4IhE .Header_productRemove__upsNn:hover {
    color:#e23d3d
}

.Header_cartItem__V4IhE:hover {
    background:rgba(147, 220, 156, .15)
}

@-webkit-keyframes Header_tada__ph8_Q {
    0% {
        transform: scaleX(1);
        opacity:0
    }

    10%, 20% {
        transform:scale3d(.8, .66, .66) rotate(-3deg)
    }

    30%, 50%, 70%, 90% {
        transform:scale3d(1.2, 1.2, 1.2) rotate(3deg)
    }

    40%, 60%, 80% {
        transform:scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }

    to {
        transform: scaleX(1);
        opacity:1
    }
}

@keyframes Header_tada__ph8_Q {
    0% {
        transform: scaleX(1);
        opacity:0
    }

    10%, 20% {
        transform:scale3d(.8, .66, .66) rotate(-3deg)
    }

    30%, 50%, 70%, 90% {
        transform:scale3d(1.2, 1.2, 1.2) rotate(3deg)
    }

    40%, 60%, 80% {
        transform:scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }

    to {
        transform: scaleX(1);
        opacity:1
    }
}

.Header_tada__ph8_Q {
    -webkit-animation-name: Header_tada__ph8_Q;
    animation-name: Header_tada__ph8_Q;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode:both
}

.Counter_stepperInput__QuRj0 {
    display: flex;
    display: -webkit-flex;
    color: #666;
    max-width: 120px;
    margin:0 auto
}

.Counter_stepperInput__QuRj0 .Counter_decrement__BJh_A, .Counter_stepperInput__QuRj0 .Counter_increment__MsHxZ {
    height: 24px;
    width: 24px;
    padding: 0;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    background: none;
    -moz-user-select: none;
    -webkit-user-select:none
}

.Counter_stepperInput__QuRj0 .Counter_decrement__BJh_A:hover, .Counter_stepperInput__QuRj0 .Counter_increment__MsHxZ:hover {
    color: #10c64b;
    border-color:#10c64b
}

.Counter_stepperInput__QuRj0 .Counter_decrement__BJh_A:active, .Counter_stepperInput__QuRj0 .Counter_increment__MsHxZ:active {
    color: #fff;
    border-color: #10c64b;
    background:#34ef70
}

.Counter_stepperInput__QuRj0 .Counter_increment__MsHxZ {
    line-height:22px
}

.Counter_stepperInput__QuRj0 .Counter_decrement__BJh_A {
    line-height:24px
}

.Counter_stepperInput__QuRj0 .Counter_quantity__lx_LP {
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border:1px solid #ccc
}

.Counter_stepperInput__QuRj0 .Counter_quantity__lx_LP:focus {
    outline: none;
    border-color:#10c64b
}

.ProductItem_product__m91Xa {
    background: #fff;
    border-radius:2px
}

.ProductItem_product__m91Xa .ProductItem_productImage__NIwE3 {
    overflow: hidden;
    position: relative;
    border-radius: 2px 2px 0 0;
    padding-top:100%
}

.ProductItem_product__m91Xa .ProductItem_productImage__NIwE3 img {
    cursor: zoom-in;
    position: absolute;
    border: 0;
    vertical-align: top;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .3s ease-in;
    transform:scale(1)
}

@media (min-width: 991px) {
    .ProductItem_product__m91Xa .ProductItem_productImage__NIwE3 img {
        min-height:200px
    }
}

.ProductItem_product__m91Xa .ProductItem_productImage__NIwE3 img:hover {
    transform:scale(1.1)
}

.ProductItem_product__m91Xa .ProductItem_productName__g4Ljy {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom:8px
}

.ProductItem_product__m91Xa .ProductItem_productPrice__gUO7m {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom:16px
}

.ProductItem_product__m91Xa .ProductItem_productPrice__gUO7m:before {
    content: "₹ "
}

.ProductItem_product__m91Xa .ProductItem_productName__g4Ljy, .ProductItem_product__m91Xa .ProductItem_productPrice__gUO7m {
    color: #666;
    padding: 0 16px;
    text-align:center
}

.ProductItem_product__m91Xa .ProductItem_productAction__Q1gga {
    padding:16px
}

.ProductItem_product__m91Xa .ProductItem_productAction__Q1gga button {
    height: 36px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    background: #10c64b;
    border: 0;
    font-weight: 400;
    padding: 0 16px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    width: 100%;
    transition:all .3s ease-in
}

.ProductItem_product__m91Xa .ProductItem_productAction__Q1gga button:hover {
    background:#1ced60
}

.ProductItem_product__m91Xa .ProductItem_productAction__Q1gga button:focus {
    outline:none
}

.ProductItem_product__m91Xa .ProductItem_productAction__Q1gga button:active {
    background:#34ef70
}

.ProductItem_product__m91Xa .ProductItem_productAction__Q1gga button.ProductItem_added__KXj_K {
    background:#fc7710
}

.ProductItem_product__m91Xa:first-child, .ProductItem_product__m91Xa:nth-child(2) {
    transition-delay:.2s
}

.ProductItem_product__m91Xa:nth-child(3) {
    transition-delay:.4s
}

.ProductItem_product__m91Xa:nth-child(4) {
    transition-delay:.6s
}

.ProductItem_product__m91Xa:nth-child(5) {
    transition-delay:.8s
}

.ProductItem_product__m91Xa:nth-child(6) {
    transition-delay:1s
}

.ProductItem_product__m91Xa:nth-child(7) {
    transition-delay:1.2s
}

.ProductItem_product__m91Xa:nth-child(8) {
    transition-delay:1.4s
}

.ProductItem_product__m91Xa:nth-child(9) {
    transition-delay:1.6s
}

.ProductItem_product__m91Xa:nth-child(10) {
    transition-delay:1.8s
}

.ProductItem_product__m91Xa:nth-child(11) {
    transition-delay:2s
}

.ProductItem_product__m91Xa:nth-child(12) {
    transition-delay:2.2s
}

.ProductItem_productWrapper__svmQL {
    padding: 16px;
    min-height: 355px;
    min-width: 154px;
    width:25%
}

@media (max-width: 768px) {
    .ProductItem_productWrapper__svmQL {
        width: 33.33%;
        padding:8px
    }
}

@media (max-width: 480px) {
    .ProductItem_productWrapper__svmQL {
        width: 50%;
        min-height: 313px;
        padding:8px
    }
}

@media (max-width: 320px) {
    .ProductItem_productWrapper__svmQL {
        width:100%
    }
}

@media (max-width: 480px) {
    .ProductItem_product__m91Xa .ProductItem_product-name__o8vpC {
        height: 20px;
        overflow:hidden
    }

    .ProductItem_product__m91Xa .ProductItem_product-action__ypDTs {
        padding:16px 8px
    }
}

.ProductItem_outline__5ItMQ:hover {
    box-shadow:0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}

.NoResults_noResults__Eh_tM {
    text-align: center;
    max-width: 520px;
    margin:0 auto
}

.NoResults_noResults__Eh_tM img {
    width: 320px;
    margin: 16px 0 32px;
    opacity:.33
}

.NoResults_noResults__Eh_tM h2 {
    margin-bottom: 16px;
    color:#666
}

.NoResults_noResults__Eh_tM p {
    color:#999
}

.NoResults_products__eFDll {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 16px;
    max-width: 960px;
    margin:0 auto
}

@media (max-width: 768px) {
    .NoResults_products__eFDll {
        padding:8px
    }
}

.Products_productsWrapper__oPS_5 {
    -webkit-animation: Products_slideUp__v8joy .3s linear;
    animation: Products_slideUp__v8joy .3s linear;
    -webkit-animation-delay: .15s;
    animation-delay:.15s
}

.Products_products__Wi3vb {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 16px;
    max-width: 960px;
    margin:0 auto
}

@media (max-width: 768px) {
    .Products_products__Wi3vb {
        padding:8px
    }
}

.Footer_footer__Dhw_9 {
    color: #999;
    font-size: 14px;
    text-align: center;
    padding: 32px;
    background:#ddd
}

.Footer_footer__Dhw_9 strong {
    color:#666
}

.Footer_footer__Dhw_9 .Footer_footer-links__MmlUP {
    margin-bottom:24px
}

.Footer_footer__Dhw_9 .Footer_footer-links__MmlUP a {
    margin: 0 8px;
    color:#666
}

.QuickView_modalWrapper__7wpji {
    display: flex;
    visibility: hidden;
    background: rgba(0, 0, 0, .66);
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow-y:hidden
}

.QuickView_modalWrapper__7wpji.QuickView_active__7pzkv {
    visibility: visible;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content:center
}

.QuickView_modalWrapper__7wpji .QuickView_modal__oHMwm {
    width: 100%;
    max-width: 532px;
    margin: 16px;
    background: #fff;
    position: relative;
    border-radius:4px
}

.QuickView_modalWrapper__7wpji .QuickView_close__20mvp {
    height: 36px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    background: #10c64b;
    border: 0;
    font-weight: 400;
    padding: 0 16px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    line-height: 36px;
    border-radius: 0 4px 0 0;
    background: transparent;
    color:#666
}

.QuickView_modalWrapper__7wpji .QuickView_close__20mvp:hover {
    background:#1ced60
}

.QuickView_modalWrapper__7wpji .QuickView_close__20mvp:focus {
    outline:none
}

.QuickView_modalWrapper__7wpji .QuickView_close__20mvp:active {
    background:#34ef70
}

.QuickView_modalWrapper__7wpji .QuickView_close__20mvp:hover {
    background:#ddd
}

.QuickView_quickViewDetails__bl2wd {
    padding: 24px;
    background: #f1f1f1;
    border-radius:0 0 4px 4px
}

.QuickView_quickViewDetails__bl2wd .QuickView_product-price__sRiUf {
    font-size:18px
}

.QuickView_quickViewDetails__bl2wd .QuickView_productPrice__71tCy {
    color: #10c64b;
    font-weight: 700;
    font-size: 24px;
    float:right
}

.QuickView_quickViewDetails__bl2wd .QuickView_productPrice__71tCy:before {
    content: "₹ "
}

.QuickView_quickViewImage__U7__O img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    border-radius: 4px 4px 0 0
}

